@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>UPage, Email Confirmation Page, Password Reset Page, Registration Page, About Page, Contact Page, Payment Confirmation Page, Shipping Page, Menu Bars and Navigation Buttons, Consistent URL Routing, Admin Dashboard, Data Persistence via The Database and Authentication System.</p>
